<% content_for :locale do %>
  <span id="locale" title="Click to change name"><%= @locale.language_name %></span>
  <% form_for @locale, :html => { :id => "edit_locale_description", :style => "display: none" } do |locale_form| %>
    <%= text_field_tag :description, @locale.language_name  %>
    <%= locale_form.submit "Save" %>
  <% end %>
<% end %>

<script type="text/javascript">
    document.getElementById("locale").onclick = function() {
      document.getElementById("locale").style.display = "none";
      document.getElementById("edit_locale_description").style.display = "inline";
    }
</script>
